<nav>

    <div class="nav-wrapper">
        <a href="{{ path('home') }}" class="brand-logo right">GEScom</a>

        <a href="#" data-activates="mobile-YO" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ 'listproduct' }}">Produit</a></li>
            <li><a href="{{ 'listsupplier' }}">Fournisseur</a></li>
            <li><a href="{{ 'listcategory' }}">Catégorie</a></li>
        </ul>

        <ul class="side-nav" id="mobile-YO">
            <li><a href="{{ 'listproduct' }}">Produit</a></li>
            <li><a href="{{ 'listsupplier' }}">Fournisseur</a></li>
            <li><a href="{{ 'listcategory' }}">Catégorie</a></li>
        </ul>

    </div>
</nav>
